<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>org.revonic.Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>incorrectemailcombination</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successlogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginwithoutpassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginwithemptyfields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Resetpasswordpage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginwithoutemail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>geturl</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
