<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Resetpasswordpage()[pri:0, instance:org.revonic.Login@2ac273d3]">Resetpasswordpage</td> 
  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:39</td>   <td>18854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Resetpasswordpage()[pri:0, instance:org.revonic.Login@25bbe1b6]">Resetpasswordpage</td> 
  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:00</td>   <td>-20148</td> <td>&nbsp;</td><td title="&gt;&gt;Login.TestSetup(java.lang.String)[pri:0, instance:org.revonic.Login@2ac273d3]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:00</td>   <td>-20148</td> <td>&nbsp;</td><td title="&gt;&gt;Login.TestSetup(java.lang.String)[pri:0, instance:org.revonic.Login@25bbe1b6]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:05</td>   <td>-15665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@2ac273d3]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:14</td>   <td>-6764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@2ac273d3]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:16</td>   <td>-4811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@25bbe1b6]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:17</td>   <td>-4027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@2ac273d3]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:20</td>   <td>-1078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@2ac273d3]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:23</td>   <td>1933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@2ac273d3]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:24</td>   <td>3745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@2ac273d3]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:27</td>   <td>6522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@2ac273d3]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:31</td>   <td>10574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@25bbe1b6]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:35</td>   <td>14104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@25bbe1b6]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:38</td>   <td>17305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@25bbe1b6]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:41</td>   <td>20541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@25bbe1b6]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:43</td>   <td>22445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@25bbe1b6]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:46</td>   <td>25689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.geturl()[pri:0, instance:org.revonic.Login@25bbe1b6]">&gt;&gt;geturl</td> 
<td>&nbsp;</td>  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:24</td>   <td>3117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.incorrectemailcombination(java.lang.String, java.lang.String)[pri:0, instance:org.revonic.Login@2ac273d3]">incorrectemailcombination</td> 
  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:26</td>   <td>4883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.incorrectemailcombination(java.lang.String, java.lang.String)[pri:0, instance:org.revonic.Login@2ac273d3]">incorrectemailcombination</td> 
  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:43</td>   <td>22032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.incorrectemailcombination(java.lang.String, java.lang.String)[pri:0, instance:org.revonic.Login@25bbe1b6]">incorrectemailcombination</td> 
  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:45</td>   <td>23952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.incorrectemailcombination(java.lang.String, java.lang.String)[pri:0, instance:org.revonic.Login@25bbe1b6]">incorrectemailcombination</td> 
  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:12</td>   <td>-8931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginwithemptyfields()[pri:0, instance:org.revonic.Login@2ac273d3]">loginwithemptyfields</td> 
  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:29</td>   <td>8315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginwithemptyfields()[pri:0, instance:org.revonic.Login@25bbe1b6]">loginwithemptyfields</td> 
  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:15</td>   <td>-5467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginwithoutemail()[pri:0, instance:org.revonic.Login@2ac273d3]">loginwithoutemail</td> 
  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:33</td>   <td>12230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginwithoutemail()[pri:0, instance:org.revonic.Login@25bbe1b6]">loginwithoutemail</td> 
  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:18</td>   <td>-2477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginwithoutpassword()[pri:0, instance:org.revonic.Login@2ac273d3]">loginwithoutpassword</td> 
  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:36</td>   <td>15590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginwithoutpassword()[pri:0, instance:org.revonic.Login@25bbe1b6]">loginwithoutpassword</td> 
  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:58</td>   <td>37004</td> <td>&nbsp;</td><td title="&lt;&lt;Login.quit()[pri:0, instance:org.revonic.Login@25bbe1b6]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@78737550</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:38:37</td>   <td>76125</td> <td>&nbsp;</td><td title="&lt;&lt;Login.quit()[pri:0, instance:org.revonic.Login@2ac273d3]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:28</td>   <td>7620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.successlogin()[pri:0, instance:org.revonic.Login@2ac273d3]">successlogin</td> 
  <td>TestNG@2029425129</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/09/26 13:37:48</td>   <td>27078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.successlogin()[pri:0, instance:org.revonic.Login@25bbe1b6]">successlogin</td> 
  <td>TestNG@78737550</td>   <td></td> </tr>
</table>
