<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterClass()[pri:0, instance:org.revonic.NewTest@5622fdf]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:org.revonic.NewTest@5622fdf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:org.revonic.NewTest@5622fdf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>234</td> <td title="&lt;&lt;NewTest.afterSuite()[pri:0, instance:org.revonic.NewTest@5622fdf]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:org.revonic.NewTest@5622fdf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeClass()[pri:0, instance:org.revonic.NewTest@5622fdf]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:org.revonic.NewTest@5622fdf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:org.revonic.NewTest@5622fdf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>-45</td> <td title="&gt;&gt;NewTest.beforeSuite()[pri:0, instance:org.revonic.NewTest@5622fdf]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>-23</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:org.revonic.NewTest@5622fdf]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f(java.lang.Integer, java.lang.String)[pri:0, instance:org.revonic.NewTest@5622fdf]">f</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/09/24 13:08:07</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f(java.lang.Integer, java.lang.String)[pri:0, instance:org.revonic.NewTest@5622fdf]">f</td> 
  <td>main@1845904670</td>   <td></td> </tr>
</table>
